/* Estilo adicional para el sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    padding: 20px;
    background-color: #2b3a55; /* Azul cielo */
    color: #000; /* Color de texto */
  }

  .sidebar-link {
    color: #000; /* Color de texto para los enlaces */
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  .sidebar-link:hover {
    text-decoration: none;
    color: #fff; /* Cambia a blanco cuando se pasa el ratón */
  }

  .sidebar-link-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #7393a7; /* Azul primario de Bootstrap */
    color: #fff; /* Color de texto */
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
  }

  .sidebar-link-btn:hover {
    text-decoration: none;
    color: #000;
    background-color: #b5cfd8; /* Cambia a un tono más oscuro al pasar el ratón */
  }

.body{
  background-color: #7393a7;
}

/* Estilo adicional para el contenido principal */
.main-content {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: 15%; /* Margen izquierdo igual al ancho del sidebar */
    padding-top: 5%; /* Espacio superior */
}

.main-title {
    text-align: center;
  }

.main-content .card {
    width: 80%; /* Ancho del 60% */
    margin: auto; /* Centrar el cardview */
}

.ul_s{
  margin: 3px;
}
