{%extends './base_registros.html' %}

{%block title%}Home{%endblock%}

{%block customCss%}
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
{%endblock%}


{%block body%}
    <div class="container-fluid">
        <div class="row">
          <!-- Sidebar -->
          <div class="container-fluid">
            <div class="row">        
              <!-- Main Content -->
              <div class="col-md-9 main-content">
                <div class="card">
                  <div class="card-body">
                            <h2 class="card-title text-center">Registrar Evento</h2>
                        <!-- Aquí va tu formulario o cualquier otro contenido principal -->
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Nombre del Evento</label>
                                <input type="text" class="form-control" id="exampleFormControlInput" placeholder="Nombre del evento">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlDate">Select a Date</label>
                                <input type="date" class="form-control" id="exampleFormControlDate">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        </div>
                    </div>
                </div>
            <!--fin main content-->
                </div>
              </div>
            </div>
          </div>
      <!-- Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
{%endblock%}